.card {
  background-color: black;
}

.card-img-top {
  height: 17rem;
}

.pagination{
  justify-content: center;
  display: flex;
  color: red;
}

.container{
  padding-top: 1rem;
}
.page-link {
  background-color: red;
}
